body {
  background-color: #7cc8e5;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top: -8px;
}

.container {
  background-color: black;
  height: 70vh;
  width: 60%;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-30vh; /* this is half the height of your div*/
  margin-left:-30%; /*this is half of width of your div*/
}

.start {
  background-color: green;
  height: 70vh;
  width: 60%;
  position:absolute;
  z-index: 900;
  top:50%;
  left:50%;
  margin-top:-30vh; /* this is half the height of your div*/
  margin-left:-30%; /*this is half of width of your div*/
}

.containerheader {
   color: white;
   text-align: center;
   margin-top: 32px;
}

.questions {
 position: absolute;
 top: 50%;
 left: 20px;
 right: 20px;
 color: white;
 padding: 20px;
 transform: translateY(-43%);
 resize: vertical;
 overflow: auto;
}

.question {
  height: 11vh;
  width: 90%;
  background-color: #9b9b9b;
  margin: 15px auto;
  cursor: pointer;
}

.question:hover {
  -webkit-box-shadow: 0 0 20px red;
  box-shadow: 0 0 20px red;
}

.question p {
  font-size: 22px;
  padding: 1.5rem;
}
