<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>
    <header>
        <h1>QuizGame</h1>
    </header>
    <section class='container'>
      <div class="containerheader">
         <h2 class="question-text"><%= questionText %></h2>
      </div>
       <div class='questions'>
          <div class='question'>
          <p class="answer" date-number='1'>answer choice</p>
          </div>
          <div class='question'>
          <p class="answer" date-number='2'>answer choice</p>
          </div>
          <div class='question'>
          <p class="answer" date-number='3'>answer choice</p>
          </div>
          <div class='question'>
          <p class="answer" date-number='4'>answer choice</p>
          </div>
       </div>
    </section>
   <script type="text/javascript" src="quizgame.js"></script>
  </body>
</html>
